{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.json5",
      "options": {
        "parser": "json5"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.graphql",
      "options": {
        "parser": "graphql"
      }
    },
    {
      "files": "*.gql",
      "options": {
        "parser": "graphql"
      }
    },
    {
      "files": ["*.test.js", "*.spec.js"],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
